$primary-light: red;
$primary-dark: #fffd02;
$bg-light: #e5e5e5;
$bg-dark: #1a1a1a;
$com-dark: #282828;
$com-light: #d7d7d7;
$text-light-d: #fafafa;
$text-light-w: #050505;
$text-dark-d: #050505;
$text-dark-w: #fafafa;
/////////////////////////
$border-radius: 10px;
$input-padding: 12px;
$font-size-base: 14px;
$font-size-lg: 32px;
$spacing-sm: 10px;
$spacing-lg: 30px;
