.container {
  @include containerAuth;
}

.login-section {
  @include authSectionMixin;

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .pp {
    color: #555;
    margin-bottom: 30px;
  }
}

form {
  width: 70%;
  & label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
  }
  input {
    width: 100%;
    background-color: var(--com);
    border: 1px solid var(--com);
    border-radius: $border-radius;
    padding: $input-padding;
    font-size: $font-size-base;
    outline: none;
    color: var(--text);
    &:focus {
      border-color: var(--primary);
    }
  }
}

.login-btn {
  @include buttonSys;
  margin-top: 20px;
  &:hover {
    box-shadow: 5px 5px 5px var(--primary);
  }
}

.login-text {
  text-align: center;
  font-size: 14px;
  & a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
  }
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-section {
  flex: 1;
  background: linear-gradient(to bottom right, var(--bg), var(--primary) 130%);
  color: white;
  padding: 40px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
}

.branding {
  @extend %flex-center;
  flex-direction: column;
  & h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  & p {
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto 20px;
    color: white;
    text-align: center;
  }
}
.div-chat-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-logo {
  width: 150px;
  padding: 10px;
}

.dots {
  @extend %flex-center;
  gap: 10px;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  opacity: 0.5;
  &.active {
    width: 30px;
    border-radius: 5px;
    opacity: 1;
  }
}

.error {
  color: rgb(235, 87, 87);
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  & i {
    margin-right: 5px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
  }
  .login-section,
  .brand-section {
    padding: 20px;
  }
  .brand-section {
    border-radius: 0;
    height: auto;
  }
  .login-section h1 {
    font-size: 24px;
  }
  .login-section p {
    font-size: 14px;
  }
  .branding h2 {
    font-size: 24px;
  }
}
